.order-item {
    display:grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
}


@media (max-width:1000px) {
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr ;
        padding: 15px 8px;
    }

    .order-item select {
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}